
*{
    box-sizing: border-box;
 
}

body{
    background-image: url("/images/gorgeous-clouds-background-with-blue-sky-design_1017-25501.avif");   
    animation-timing-function: ease-in;
    background-size:cover;
    color: white;
}