
*{
    box-sizing: border-box;
 
}

body{
    background-image: url("/images/gorgeous-clouds-background-with-blue-sky-design_1017-25501..jpeg");   
    background-size:cover;
    color: white;
}
.card{
    width:100%;
    min-width:90%;
}

.list-group{
    list-style: none;
    margin: 10px 0;
}

li{
    margin: 2px;
}




